body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

#search-query {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button, #toggle-layout {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

#search-button:hover, #toggle-layout:hover {
    background-color: #0056b3;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 20px;
    padding: 20px;
}

.list-container {
    display: block;
    padding: 20px;
}

.book-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    transition: transform 0.2s;
}

.book-item:hover {
    transform: none;
}

.book-cover {
    width: 128px;
    height: 192px;
    margin-bottom: 10px;
}

.book-info {
    text-align: left;
}

.book-info h2 {
    margin: 0;
    font-size: 1.2em;
    color: #007BFF;
}

.book-info p {
    margin: 5px 0;
}

.list-item .book-cover {
    display: none;
}

#pagination {
    margin-top: 20px;
    text-align: center;
}

#pagination button {
    padding: 10px;
    margin: 0 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#pagination button:hover {
    background-color: #0056b3;
}

#pagination button.active {
    background-color: #0056b3;
}

footer {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
